
    <script type='text/x-handlebars' data-template-name='application'>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        {{outlet}}
      </div>
    </div>


      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </script>
    <script type='text/x-handlebars' data-template-name='index'>
      <h1>Hello, world!</h1>
      <p>Toutes les news du booking sont {{#link-to 'articles'}}ici{{/link-to}} !</p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      
    </script>

    <script type='text/x-handlebars' data-template-name='about'>
      <h1>Hello, world!</h1>
      <p>Qui sommes nous ?</p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      
    </script>

    <script type='text/x-handlebars' data-template-name='articles'>
      <h1>Hello, world!</h1>
      {{#each}}
        <p><a {{bind-attr href='link'}}>{{this.title}}</a> ({{this.description}})</p>
        {{#unless isEditing}}<button {{action 'editArticle'}}>Editer</button>{{/unless}}
        <button {{action 'deleteArticle'}}>Supprimer</button>
        {{#if isEditing}}
          <div class="edit">
            {{input valueBinding='title' class='title'}}
            {{textarea valueBinding='description'}}
            <button {{action 'updateArticle'}} class='btn btn-primary'/>Enregistrer</button>
          </div>
        {{/if}}
      {{/each}}
      {{#if addingNewArticle}}
        <div>
          {{input valueBinding='title' class='title'}}
          {{input valueBinding='link'}}
          {{textarea valueBinding='description'}}
          <button {{action 'addArticle'}} class='btn btn-primary'/>Ajouter</button>
        </div>
      {{else}}
        <div>
          <button {{action "newArticle"}}>Ajouter</button>
        </div>
      {{/if}}
    </script>
    <script type='text/x-handlebars' data-template-name='article'>
    </script>